/*fuentes */
@font-face {
    font-family: 'Glaciar';
    src: url('fuentes/GlacialIndifference.otf') format('opentype');
    /* Agrega otras propiedades de fuente según sea necesario */
  }

  @font-face {
    font-family: 'HighCriose';
    src: url('fuentes/HighCruiser.otf') format('opentype');
    /* Agrega otras propiedades de fuente según sea necesario */
  }

  @font-face {
    font-family: 'PeaceSans';
    src: url('fuentes/PeaceSans.ttf') ;
    /* Agrega otras propiedades de fuente según sea necesario */
  }
  @font-face {
    font-family: 'Thepir';
    src: url('fuentes/Thephir.ttf') ;
    /* Agrega otras propiedades de fuente según sea necesario */
  }

.glaciar {
    font-family: 'Glaciar', sans-serif;
  }

.highCriose {
    font-family: 'HighCriose', sans-serif;
  }

.peaceSans {
    font-family: 'PeaceSans', sans-serif;
  }

  .thepir {
    font-family: 'Thepir', sans-serif;
  }


/* Estilos generales */
.section {
    height: 100vh; /* 100% del viewport height */
  }


/* Section 1*/

.section1{
    background-image:url('assets/Slide 1/fondo.png'); 
    background-size: cover; /* La imagen de fondo cubre toda la sección */
    background-position: center; /* La imagen de fondo está centrada */
}
.section1 .fondoDer{
    background-image:url('assets/Slide 1/adorno 2.png'); 
    background-size: cover; /* La imagen de fondo cubre toda la sección */
    background-position: center; /* La imagen de fondo está centrada */
}

.section1 .fondoIzq{
    background-image:url('assets/Slide 1/adorno 1.png'); 
    background-size: cover; /* La imagen de fondo cubre toda la sección */
    background-position: center; /* La imagen de fondo está centrada */
}



.section1 .sello {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vh;
    height: auto;
}
.section1 .imagenCopa{
    width: 75vh;
    height: auto;

    margin-left: 10vh;
}

.section1 .titulo{
    font-size: 11vh;
    color: white;
    margin: 0;
}

.section1 .descripcion{
    font-size: 3vh;
    color: white;
    margin: 0;
    
    
}
.section1 .titulo:first-child {
    margin-bottom: -0.4em; /* Ajusta este valor según sea necesario */
  }


/* sección 2 */
.section2 {
    background-image: url('/assets/Slide 2/fondo.png');
    background-size: cover; /* La imagen de fondo cubre toda la sección */
    background-position: center; /* La imagen de fondo está centrada */
}

.section2 .button-left-top {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/Slide 2/botones.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px; /* Ajusta el padding según sea necesario */
}

.section2 .button-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('/assets/Slide 2/botones.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px; /* Ajusta el padding según sea necesario */
}

.section2 .radio-image {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; /* Ajusta el padding según sea necesario */
}

