/*fuentes */
@font-face {
  font-family: "Glaciar";
  src: url("fuentes/GlacialIndifference.otf") format("opentype");
  /* Agrega otras propiedades de fuente según sea necesario */
}

@font-face {
  font-family: "HighCriose";
  src: url("fuentes/HighCruiser.otf") format("opentype");
  /* Agrega otras propiedades de fuente según sea necesario */
}

@font-face {
  font-family: "PeaceSans";
  src: url("fuentes/PeaceSans.ttf");
  /* Agrega otras propiedades de fuente según sea necesario */
}
@font-face {
  font-family: "Thepir";
  src: url("fuentes/Thephir.ttf");
  /* Agrega otras propiedades de fuente según sea necesario */
}

.glaciar {
  font-family: "Glaciar", sans-serif;
}

.highCriose {
  font-family: "HighCriose", sans-serif;
}

.peaceSans {
  font-family: "PeaceSans", sans-serif;
}

.thepir {
  font-family: "Thepir", sans-serif;
}

/* Estilos generales */
.section {
  height: 100vh; /* 100% del viewport height */
}
.icono-casa {
  position: fixed;
  top: 2em; /* Ajusta la distancia superior según sea necesario */
  right: 2em; /* Ajusta la distancia derecha según sea necesario */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.icono-casa img {
  width: 5em; /* Ajusta el ancho del icono según sea necesario */
  height: 5em; /* Ajusta la altura del icono según sea necesario */
  filter: invert(100%);
}

/* Section 1*/

.section1 {
  background-image: url("assets/Slide 1/fondo.png");
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
}
.section1 .fondoDer {
  background-image: url("assets/Slide 1/adorno 2.png");
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
}

.section1 .fondoIzq {
  background-image: url("assets/Slide 1/adorno 1.png");
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
}

.section1 .sello {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vh;
  height: auto;
}
.section1 .imagenCopa {
  width: 75vh;
  height: auto;

  margin-left: 10vh;
}

.section1 .titulo {
  font-size: 11vh;
  color: white;
  margin: 0;
}

.section1 .descripcion {
  font-size: 3vh;
  color: white;
  margin: 0;
}

 

.section1 .footer {
  color: white; /* Color del texto */
  font-size: 2rem; /* Tamaño del texto */
  text-align: left; /* Alinear el texto al centro */
  display: block; /* Hacer que el texto sea un bloque */
  border-top: 0.1rem solid white; /* Margen superior */
  padding-top: 1rem; /* Añadir espacio superior */
  margin-top: 4rem;
}
.section1 .textoFooter {
  font-size: 0.7em;
  color: white;
  margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.section1 {
  a {
    text-align: left;
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding-top: 0.5em;
    margin-left: 1.5em;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }

  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50%;
    background: #ff755a;
    width: 4.5em; /* Utilizar unidades vw para el tamaño */
    height: 4.5em; /* Utilizar unidades vw para el tamaño */
    transition: all 0.3s ease;
  }

  .cta span {
    position: relative;
    text-align: left;
    font-size: 0.9em; /* Utilizar unidades vw para el tamaño */
    margin-left: 0.3em;

    color: #fff;
  }

  .cta:active {
    transform: scale(0.95);
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 1em;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
}

/* sección 2 */
.section2 {
  position: relative;
  background-image: url("assets/Slide 2/fondo.png");
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
}

.section2 .orange-container-left {
  background-color: orange;
  padding: 10px;
  width: 50vw; /* Ajusta el ancho según sea necesario */
  height: 40vh; /* Ajusta la altura según sea necesario */
  border-top-right-radius: 15vw; /* Redondear la esquina derecha izquierda */
  border-bottom-right-radius: 15vw; /* Redondear la esquina derecha izquierda */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 1s ease; /* Transición suave del color de fondo */
  display: flex; /* Utilizar display flex para alinear contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.section2 .orange-container-right {
  background-color: orange;
  padding: 10px;
  width: 50vw; /* Ajusta el ancho según sea necesario */
  height: 40vh; /* Ajusta la altura según sea necesario */
  border-top-left-radius: 15vw; /* Redondear la esquina izquierda izquierda */
  border-bottom-left-radius: 15vw; /* Redondear la esquina izquierda izquierda */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 1s ease; /* Transición suave del color de fondo */
  display: flex; /* Utilizar display flex para alinear contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.section2 .button-left-top {
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .button-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section2 .radio-image {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.section2 .button-left-top .button,
.section2 .button-right-bottom .button {
  color: white; /* Color del texto */
  text-decoration: none; /* Quitar subrayado del enlace */
  font-size: 5rem; /* Tamaño del texto inicial */
  white-space: nowrap; /* Evitar salto de línea */
  overflow: hidden; /* Ocultar el texto que desborde */
  text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto es demasiado largo */
}

/* Agrega esta regla para el contenedor naranja */
.section2 .orange-container-left:hover,
.section2 .orange-container-right:hover {
  filter: brightness(110%); /* Reduce la luminosidad al 80% */
}

.section2 .text-top-right {
  position: absolute;
  top: 27vh;
  right: 20vw;
  padding: 20px; /* Ajusta el padding según sea necesario */
  color: white; /* Color del texto */
  font-size: 5rem; /* Tamaño del texto */
}

.section2 .text-top-right .bold {
  font-size: 7rem; /* Tamaño del texto */
}

.section2 .small-radio {
  width: 25vw; /* Ajusta el ancho según sea necesario */
  height: auto; /* Autoajuste de la altura */
}

/* sección 3 */
.section3 {

    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: center;
    background-image: url('assets/Slide 3/selección completa.png');
    background-size: cover; /* La imagen de fondo cubre toda la sección */
    background-position: center; /* La imagen de fondo está centrada */
    align-items: flex-start; /* Alinea los elementos a la izquierda */

}
.section3 .text-top-left {

    position: absolute;
    top: 7vh;
    left: 5vw;
    padding: 20px; /* Ajusta el padding según sea necesario */
    color: white; /* Color del texto */
    font-size: 5em; /* Tamaño del texto */

}

.section3 .text-top-left .bold {
  font-size: 7rem; /* Tamaño del texto */
}

.section3 .square-button {

    display: inline-block; /* Para que el contenedor ocupe solo el espacio necesario */
    position: relative; /* Para permitir el posicionamiento de los elementos internos */
    width: 15vw; /* Ancho del botón */
    height: 33vh; /* Altura del botón */
    border: 2px solid black; /* Borde sólido negro */
    overflow: hidden; /* Para ocultar cualquier contenido que desborde */
}

.section3 .button-image {
    width: 80%; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la relación de aspecto */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total */
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
    display: flex; /* Utiliza flexbox para alinear verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.section3 .button-text {
    position: absolute; /* Posición absoluta para superponer el texto */
    bottom: 0; /* Alinear el texto en la parte inferior */
    width: 100%; /* Ancho al 100% del contenedor */
    height: 15%; /* Altura del 30% para el texto */
    background-color: orange; /* Fondo naranja */
    color: white; /* Texto blanco */
    text-align: center; /* Centrar el texto horizontalmente */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total */

}

.section3 .button-text .bold {
    font-size: 10vh;
}

.section3 .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
    gap: 2em; /* Espacio entre los botones */
}

.section3 .space {
    height: 25vh; /* Espacio entre los botones */
}

/* sección 4 */
.section4 {

    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: center;
    background-image: url('assets/Slide 3/selección completa.png');
    background-size: cover; /* La imagen de fondo cubre toda la sección */
    background-position: center; /* La imagen de fondo está centrada */
    align-items: flex-start; /* Alinea los elementos a la izquierda */

}
.section4 .text-top-left {

    position: absolute;
    top: 7vh;
    left: 5vw;
    padding: 20px; /* Ajusta el padding según sea necesario */
    color: white; /* Color del texto */
    font-size: 5em; /* Tamaño del texto */

}

.section4 .text-top-left .bold {
  font-size: 7rem; /* Tamaño del texto */
}

.section4 .square-button {

    display: inline-block; /* Para que el contenedor ocupe solo el espacio necesario */
    position: relative; /* Para permitir el posicionamiento de los elementos internos */
    width: 12vw; /* Ancho del botón */
    height: 25vh; /* Altura del botón */
    border: 2px solid black; /* Borde sólido negro */
    overflow: hidden; /* Para ocultar cualquier contenido que desborde */
}

.section4 .button-image {
    width: 70%; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la relación de aspecto */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total */
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
    display: flex; /* Utiliza flexbox para alinear verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.section4 .button-text {
    position: absolute; /* Posición absoluta para superponer el texto */
    bottom: 0; /* Alinear el texto en la parte inferior */
    width: 100%; /* Ancho al 100% del contenedor */
    height: 25%; /* Altura del 30% para el texto */
    background-color: orange; /* Fondo naranja */
    color: white; /* Texto blanco */
    text-align: center; /* Centrar el texto horizontalmente */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total */
}

.section4 .button-text .bold {
    font-size: 10vh;
}

.section4 .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
    gap: 1em; /* Espacio entre los botones */
}

.section4 .space {
    height: 25vh; /* Espacio entre los botones */
}



/* sección 5 */
.section5 {
  position: relative;
  background-image: url("assets/Slide 5/fondo.png");
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
}

.section5 .orange-container-left {
  background-color: rgb(236, 125, 89);
  padding: 10px;
  width: 50vw; /* Ajusta el ancho según sea necesario */
  height: 40vh; /* Ajusta la altura según sea necesario */
  border-top-right-radius: 15vw; /* Redondear la esquina derecha izquierda */
  border-bottom-right-radius: 15vw; /* Redondear la esquina derecha izquierda */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 1s ease; /* Transición suave del color de fondo */
  display: flex; /* Utilizar display flex para alinear contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.section5 .orange-container-right {
  background-color: rgb(47, 51, 27);
  padding: 10px;
  width: 50vw; /* Ajusta el ancho según sea necesario */
  height: 40vh; /* Ajusta la altura según sea necesario */
  border-top-left-radius: 15vw; /* Redondear la esquina izquierda izquierda */
  border-bottom-left-radius: 15vw; /* Redondear la esquina izquierda izquierda */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 1s ease; /* Transición suave del color de fondo */
  display: flex; /* Utilizar display flex para alinear contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.section5 .button-left-top {
  position: absolute;
  top: 0;
  left: 0;
}

.section5 .button-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section5 .man-image {
  position: absolute;
  
  bottom: 0;
  left: 0;
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.section5 .button-left-top .button,
.section5 .button-right-bottom .button {
  color: white; /* Color del texto */
  text-decoration: none; /* Quitar subrayado del enlace */
  font-size: 5rem; /* Tamaño del texto inicial */
  white-space: nowrap; /* Evitar salto de línea */
  overflow: hidden; /* Ocultar el texto que desborde */
  text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto es demasiado largo */
}

/* Agrega esta regla para el contenedor naranja */
.section5 .orange-container-left:hover,
.section5 .orange-container-right:hover {
  filter: brightness(150%); /* Reduce la luminosidad al 80% */
}

.section5 .text-top-right {
  position: absolute;
  top: 27vh;
  right: 20vw;
  padding: 20px; /* Ajusta el padding según sea necesario */
  color: white; /* Color del texto */
  font-size: 5rem; /* Tamaño del texto */
}

.section5 .text-top-right .bold {
  font-size: 7rem; /* Tamaño del texto */
}

.section5 .small-man {
  width: 30vw; /* Ajusta el ancho según sea necesario */
  height: auto; /* Autoajuste de la altura */
}

/* sección 8 */
.section8 {
  position: relative;
  background-image: url("assets/Slide 8/fondo.png");
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
}

.section8 .orange-container-left {
  background-color: rgb(84, 116, 128);
  padding: 10px;
  width: 50vw; /* Ajusta el ancho según sea necesario */
  height: 40vh; /* Ajusta la altura según sea necesario */
  border-top-right-radius: 15vw; /* Redondear la esquina derecha izquierda */
  border-bottom-right-radius: 15vw; /* Redondear la esquina derecha izquierda */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 1s ease; /* Transición suave del color de fondo */
  display: flex; /* Utilizar display flex para alinear contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.section8 .orange-container-right {
  background-color: rgb(143, 47, 45);
  padding: 10px;
  width: 50vw; /* Ajusta el ancho según sea necesario */
  height: 40vh; /* Ajusta la altura según sea necesario */
  border-top-left-radius: 15vw; /* Redondear la esquina izquierda izquierda */
  border-bottom-left-radius: 15vw; /* Redondear la esquina izquierda izquierda */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 1s ease; /* Transición suave del color de fondo */
  display: flex; /* Utilizar display flex para alinear contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.section8 .button-left-top {
  position: absolute;
  top: 0;
  left: 0;
}

.section8 .button-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section8 .man-image {
  position: absolute;
  bottom: 0;
  left: 6em;
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.section8 .button-left-top .button,
.section8 .button-right-bottom .button {
  color: white; /* Color del texto */
  text-decoration: none; /* Quitar subrayado del enlace */
  font-size: 5rem; /* Tamaño del texto inicial */
  white-space: nowrap; /* Evitar salto de línea */
  overflow: hidden; /* Ocultar el texto que desborde */
  text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto es demasiado largo */
}

/* Agrega esta regla para el contenedor naranja */
.section8 .orange-container-left:hover,
.section8 .orange-container-right:hover {
  filter: brightness(150%); /* Reduce la luminosidad al 80% */
}

.section8 .text-top-right {
  position: absolute;
  top: 27vh;
  right: 8vw;
  padding: 20px; /* Ajusta el padding según sea necesario */
  color: white; /* Color del texto */
  font-size: 4rem; /* Tamaño del texto */
}

.section8 .text-top-right .bold {
  font-size: 7rem; /* Tamaño del texto */
}

.section8 .small-printer {
  width: 22vw; /* Ajusta el ancho según sea necesario */
  height: auto; /* Autoajuste de la altura */
}


/* sección 9 */

.section9 {

  display: flex;
  padding-left: 5vw;
  flex-direction: column;
  justify-content: center;
  background-image: url('assets/Slide 3/selección completa.png');
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
  align-items: flex-start; /* Alinea los elementos a la izquierda */

}
.section9 .text-top-left {

  position: absolute;
  top: 7vh;
  left: 5vw;
  padding: 20px; /* Ajusta el padding según sea necesario */
  color: white; /* Color del texto */
  font-size: 5em; /* Tamaño del texto */

}

.section9 .text-top-left .bold {
font-size: 7rem; /* Tamaño del texto */
}

.section9 .square-button {

  display: inline-block; /* Para que el contenedor ocupe solo el espacio necesario */
  position: relative; /* Para permitir el posicionamiento de los elementos internos */
  width: 11vw; /* Ancho del botón */
  height: 24vh; /* Altura del botón */
  border: 2px solid black; /* Borde sólido negro */
  overflow: hidden; /* Para ocultar cualquier contenido que desborde */
}

.section9 .button-image {
  width: 80%; /* Ancho deseado */
  height: 80%; /* Altura automática para mantener la relación de aspecto */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  box-sizing: border-box; /* Incluye el relleno en el tamaño total */
  object-fit: fill; /* Ajusta la imagen al tamaño del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
  display: flex; /* Utiliza flexbox para alinear verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.section9 .button-text {
  position: absolute; /* Posición absoluta para superponer el texto */
  bottom: 0; /* Alinear el texto en la parte inferior */
  width: 100%; /* Ancho al 100% del contenedor */
  height: 25%; /* Altura del 30% para el texto */
  background-color: #497580; /* Fondo naranja */
  color: white; /* Texto blanco */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
  box-sizing: border-box; /* Incluye el relleno en el tamaño total */

}

.section9 .button-text .bold {
  font-size: 8vh;
}

.section9 .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
  gap: 2em; /* Espacio entre los botones */
}

.section9 .space {
  height: 5vh; /* Espacio entre los botones */
}
/* sección 10 */

.section10 {

  display: flex;
  padding-left: 5vw;
  flex-direction: column;
  justify-content: center;
  background-image: url('assets/Slide 3/selección completa.png');
  background-size: cover; /* La imagen de fondo cubre toda la sección */
  background-position: center; /* La imagen de fondo está centrada */
  align-items: flex-start; /* Alinea los elementos a la izquierda */

}
.section10 .text-top-left {

  position: absolute;
  top: 7vh;
  left: 5vw;
  padding: 20px; /* Ajusta el padding según sea necesario */
  color: white; /* Color del texto */
  font-size: 5em; /* Tamaño del texto */

}

.section10 .text-top-left .bold {
font-size: 7rem; /* Tamaño del texto */
}

.section10 .square-button {

  display: inline-block; /* Para que el contenedor ocupe solo el espacio necesario */
  position: relative; /* Para permitir el posicionamiento de los elementos internos */
  width: 11vw; /* Ancho del botón */
  height: 24vh; /* Altura del botón */
  border: 2px solid black; /* Borde sólido negro */
  overflow: hidden; /* Para ocultar cualquier contenido que desborde */
}

.section10 .button-image {
  width: 80%; /* Ancho deseado */
  height: 80%; /* Altura automática para mantener la relación de aspecto */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  box-sizing: border-box; /* Incluye el relleno en el tamaño total */
  object-fit: fill; /* Ajusta la imagen al tamaño del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
  display: flex; /* Utiliza flexbox para alinear verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.section10 .button-text {
  position: absolute; /* Posición absoluta para superponer el texto */
  bottom: 0; /* Alinear el texto en la parte inferior */
  width: 100%; /* Ancho al 100% del contenedor */
  height: 25%; /* Altura del 30% para el texto */
  background-color: #9D2330; /* Fondo naranja */
  color: white; /* Texto blanco */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
  box-sizing: border-box; /* Incluye el relleno en el tamaño total */

}

.section10 .button-text .bold {
  font-size: 8vh;
}

.section10 .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no caben todos */
  gap: 2em; /* Espacio entre los botones */
}

.section10 .space {
  height: 5vh; /* Espacio entre los botones */
}
